@{
  Layout = "_Layout";
}

@using System.Collections.Generic;
@using Factory.Models;
@model Factory.Models.Machine

<h4>Add a new machine</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Model)
  @Html.TextBoxFor(model => model.Model)

  int counter = 0;
  foreach(var x in ViewBag.EngineerId){
    counter++;
    break;
  }
  if (counter>0)
  {
    @Html.Label("Select Engineer")
    @Html.DropDownList("EngineerId")
  }
  else
  {
    <p>No engineers have been added yet. You will need to add engineers to assign machine specializations.</p>
  }


  

  <input type="submit" value="Add new Machine"/>
}
<hr />
<p>@Html.ActionLink("Show all Machines", "Index")</p>