@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1>Machine Details</h1>

<table class="table">
  <thead>
    <tr>
      <th>
        Machine Model
      </th>
      <th>
        Engineers
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        @Html.DisplayFor(model => model.Model)
      </td>
      <td>
        @foreach(var join in Model.JoinEngineerMachine)
          {
            <li>@join.Engineer.Name</li>
            @using (Html.BeginForm("DeleteEngineer", "Machines"))
            {
              @Html.Hidden("joinId", @join.EngineerMachineId)
              <input type="submit" value="Delete"/>
            }
            @* @using (Html.BeginForm("EditEngineers", "Machines", FormMethod.Post, new { @class = "checkbox" }))
            {
              @Html.HiddenFor(modelMachine => machine.MachineId)
              @Html.HiddenFor(modelMachine => machine.Model)

              @Html.CheckBoxFor(modelMachine => machine.IsComplete)
            } *@
          }
      </td>
      <td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MachineId }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.MachineId })
      </td>
    </tr>
  </tbody>
</table>