@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit</h2>

<h4>Edit this Machine: @Html.DisplayFor(model => model.Model)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.LabelFor(model => model.Model)
  @Html.EditorFor(model => model.Model)<br>

  @Html.Label("Assigned engineers:")
  @Html.ActionLink("Assign new engineers", "AddEngineer", new { id = Model.MachineId })<br>

  @foreach(var join in Model.JoinEngineerMachine)
  {
    <h6 class="name">@join.Engineer.Name</h6>
    @using (Html.BeginForm("DeleteEngineer", "Machines"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Remove"/>
    }<br>
  }
  <input type="submit" value="Save" />
}