@{
  Layout = "_Layout";
}
@model Factory.Models.Engineer
<h1>Add Machine Specialty</h1>
<p>@Html.Label("Engineer:")  @Html.DisplayFor(model => model.Name)</p>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)
    @Html.Label("Select machine")
    @Html.DropDownList("MachineId")
    if(ViewBag.Duplicate == 1)
    {
      <h5 class="error">The entry you submitted already exists. Try again with a unique entry.</h5>
    }
    <input type="submit" value="Save" />
}