@{
  Layout = "_Layout";
}

@using System.Collections.Generic;
@using Factory.Models;
@model Factory.Models.Engineer

<h4>Add a new engineer</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)<br>

  int counter = 0;
    foreach(var x in ViewBag.MachineId){
      counter++;
      break;
    }

  @if(counter > 0){
    @Html.Label("Select 1 Machine Specialty (select more later)")
    @Html.DropDownList("MachineId")
  }
  else
  {
    <p>No machines have been added yet. You will need to add machines to assign machine speacializations.</p>
  }
  

  <input type="submit" value="Add new Engineer"/>
}
<hr />
<p>@Html.ActionLink("Show all Engineers", "Index")</p>