@{
  Layout = "_Layout";
}
@model Factory.Models.Engineer
<h1>Edit Engineer</h1>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)<br>
  @Html.Label("Machine Specializations:")
  @Html.ActionLink("Add new specializations", "AddMachine", new { id = Model.EngineerId })<br>
  @foreach(var join in Model.JoinEngineerMachine)
  {
    <h6 class="name">@join.Machine.Model</h6>
    @using (Html.BeginForm("DeleteMachine", "Engineers"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Remove specialization"/>
    }<br>
  }
  <input type="submit" value="Save" />
}