@{
  Layout = "_Layout";
}

@using Factory.Models;
@using System;
@model List<Factory.Models.Engineer>;

<h1>Engineers</h1>

@if (@Model.Count == 0)
{
  <h3>No engineers have been added yet!</h3>
} 

<table class="table">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Machine Specializations
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  @foreach(Engineer engineer in Model)
  {
    <tr>
        <td>
          @Html.DisplayFor(modelEngineer => engineer.Name)
        </td>
        <td>
          <ul>
            @foreach(var join in engineer.JoinEngineerMachine)
            {
              <li>@join.Machine.Model</li>
            }
          </ul>
        </td>
        <td>
          @Html.ActionLink("Add specializations", "AddMachine", new { id = engineer.EngineerId }) |
          @Html.ActionLink("Details", "Details", new { id = engineer.EngineerId }) |
          @Html.ActionLink("Edit", "Edit", new { id = engineer.EngineerId }) | 
          @Html.ActionLink("Delete", "Delete", new { id = engineer.EngineerId })
        </td>
      </tr>
    }
  </tbody>
</table>

<hr />
<p>@Html.ActionLink("Add new engineer", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>